<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
        <script th:inline="javascript">
            async function fetchFilenames() {
                try {
                    const response = await fetch('/api/list-files');
                    if (!response.ok) throw new Error('Network response was not ok');

                    const data = await response.json();

                    const filenameRows = data.map(filename => `
                        <tr>

                            <td>
                                <a target="_blank" onclick="showReadModal('${filename}')" class="btn btn-success">View</a>
                                <a  class="btn btn-danger" onclick="deleteFile('${filename}')">Delete</a>
                            </td>
                            <td>${filename}</td>
                        </tr>
                    `).join('');

                    document.getElementById("filenameTable").innerHTML = filenameRows;
                } catch (error) {
                    console.error("Fetch error.", error);
                }
            }

            async function fetchCredentials() {
                try {
                    const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
                    const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');
                    const response = await fetch('/api/list-all-credentials', {
                        method: 'POST',
                        headers: {
                            [csrfHeader]: csrfToken
                        }
                    });
                    if (!response.ok) throw new Error('Network response was not ok');

                    const data = await response.json();
                    console.log(data);
                    const credentialRows = data.map(credential => `
                        <tr>

                            <td>
                                <a target="_blank" onclick="showCredentialModal('${credential}')" class="btn btn-success">View</a>
                                <button id="editCredential+${credential?.url}" type="button" onclick="showCredentialEditModal('${credential?.credentialid}', '${credential?.url}', '${credential?.username}', '${credential?.password}')" class="btn btn-success">Edit</button>
                                <a id="deleteCredential+${credential?.url}" class="btn btn-danger" onclick="deleteCredential('${credential?.url}')">Delete</a>
                            </td>
                            <td>${credential?.username}</td>
                            <td><input type="password" value="${credential?.password}" readonly>    <button class="toggle-eye" onclick="togglePassword(this)">👁️</button></td>
                            <td id=${credential?.url}>${credential?.url}</td>
                        </tr>
                    `).join('');

                    document.getElementById("credentialTable").innerHTML = credentialRows;


                } catch (error) {
                    console.error("Fetch error.", error);
                }
            }
            async function fetchNotes() {
                try {
                    const response = await fetch('/api/list-all-notes');
                    if (!response.ok) throw new Error('Network response was not ok');

                    const data = await response.json();
                    console.log(data);
                    const noteRows = data.map(note => `                                                                                                                                                                                                                         
                        <tr>                                                                                                                                                                                                                                                    
                            <td>                                                                                                                                                                                                                                                
                                <button id="editNote+${note?.notetitle}" type="button" onclick="showNoteEditModal('${note?.noteid}', '${note?.notetitle}', '${note?.notedescription}')" class="btn btn-success">Edit</button>                                                                                        
                                <a id="deleteNote+${note?.notetitle}" class="btn btn-danger" onclick="deleteNote('${note?.notetitle}')">Delete</a>                                                                                                                                                                 
                            </td>                                                                                                                                                                                                                                               
                            <td id=${note?.notetitle}>${note?.notetitle}</td>                                                                                                                                                                                                                         
                            <td>${note?.notedescription}</td>                                                                                                                                                                                                                   
                        </tr>                                                                                                                                                                                                                                                   
                    `).join(''); 

                    document.getElementById("noteTable").innerHTML = noteRows;
                } catch (error) {
                    console.error("Fetch error.", error);
                }
            }

            fetchNotes();
            fetchFilenames();
            fetchCredentials();
            async function validateUploadFile() {
                try {
                    const files = document.getElementById("fileUpload")?.files;
                    if (files.length <= 0) {
                        alert("You have not uploaded any files!");
                        return false;
                    } else {
                        return true;
                    }
                } catch (error) {
                    console.error("Validate Error: ", error);
                    return false;
                }
            }

            async function deleteFile(filename) {
                const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');

                const response = await fetch(`/api/delete-file/${encodeURIComponent(filename)}`, {
                    method: 'POST',
                    headers: {
                        [csrfHeader]: csrfToken
                    }
                });
                if (!response.ok) throw new Error('Network response was not ok');

                const data = await response.json();

                console.log(data);
                fetchFilenames();
            }
            async function deleteCredential(url) {
                const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');

                const response = await fetch(`/api/delete-credential?url=${encodeURIComponent(url)}`, {
                    method: 'POST',
                    headers: {
                        [csrfHeader]: csrfToken
                    }
                });
                if (!response.ok) throw new Error('Network response was not ok');

                const data = await response.json();

                console.log(data);
                fetchCredentials();
            }
            async function deleteNote(title) {
                const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');

                const response = await fetch(`/api/delete-note/${encodeURIComponent(title)}`, {
                    method: 'POST',
                    headers: {
                        [csrfHeader]: csrfToken
                    }
                });
                if (!response.ok) throw new Error('Network response was not ok');

                const data = await response.json();

                console.log(data);
                fetchNotes();
            }
        </script>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form th:action="@{/upload}" onsubmit="return validateUploadFile()" enctype="multipart/form-data" method="POST">
                            
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody id="filenameTable">
                                 <tr>
                                    <td>
                                        <a target="_blank" onclick="showReadModal('${filename}')" class="btn btn-success">View</a>
                                        <a  class="btn btn-danger">Delete</a>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button id="addNewNote" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="noteTable">
                                {% comment %} <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-success">Edit</button>
                                            <a class="btn btn-danger">Delete</a>
                                        </td>
                                        <th scope="row">Example Note Title</th>
                                        <td>Example Note Description </td>
                                    </tr>
                                </tbody> {% endcomment %}
                            </table>
                        </div>
                       <div class="modal fade" id="readModal" tabindex="-1" role="dialog" aria-labelledby="readModalLabel" aria-hidden="true" style="z-index: 1050;">
                            <pre id="filePreview" ></pre>
                        </div>
                    </div> 
                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/create-note}" method="POST">
                                            <input type="hidden" name="noteid" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "notetitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="notedescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="saveChangesNotes" type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal fade" id="noteEditModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/update-note}" method="POST">
                                            <input type="hidden" name="noteid" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "notetitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="notedescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteUpdateSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="saveChangesUpdateNotes" type="button" class="btn btn-primary" onclick="$('#noteUpdateSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" id="addNewCredential" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                {% comment %} <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success">Edit</button>
                                        <a class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row">Example Credential URL</th>
                                    <td>Example Credential Username</td>
                                    <td>Example Credential Password</td>
                                </tr>
                                </tbody> {% endcomment %}
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/create-credential}" method="POST">
                                            <input type="hidden" name="credentialid" id="credential-id">
                                            <div class="form-group">
                                                <label for="credential-url" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-username" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-password" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="saveChangesCredentials" type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="credentialEditModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/update-credential}" method="POST">
                                            <input type="hidden" name="credentialid" id="credential-id">
                                            <div class="form-group">
                                                <label for="credential-url" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-username" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-password" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialUpdateSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="saveChangesCredentials" type="button" class="btn btn-primary" onclick="$('#credentialUpdateSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }
            function showNoteEditModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }
            async function showReadModal(filename) {
                const fileText = await fetch(`/api/file-content?filename=${encodeURIComponent(filename)}`)
                const text = await fileText.text();
                console.log(text);
                document.getElementById('filePreview').innerHTML = text;
                console.log(document.getElementById('filePreview'));
                $('#readModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
            function showCredentialEditModal(credId, credUrl, credUsername, credPassword) {
                $('#credential-id').val(credId ? credId : '');
                $('#credential-url').val(credUrl ? credUrl : '');
                $('#credential-username').val(credUsername ? credUsername : '');
                $('#credential-password').val(credPassword ? credPassword : '');
                $('#credentialModal').modal('show');
            }

            // Activate tab from URL parameter
            const urlParams = new URLSearchParams(window.location.search);
            const tab = urlParams.get('tab');
            if (tab === 'notes') {
                $('#nav-notes-tab').tab('show');
            } else if (tab === 'credentials') {
                $('#nav-credentials-tab').tab('show');
            }
        </script>
    </body>
</html>
